<!DOCTYPE html>
<html data-bs-theme="dark">
  <title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XXX</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
  </title>
  <body>
    <div class="container">
      XXX
    </div>
  </body>
</html>
